// Importa variáveis globais do tema
@use '../../styles.scss' as theme;

/* Define os estilos principais para o container do cabeçalho */
.app-header {
  background-color: theme.$color-dark-card;
  border-bottom: 1px solid theme.$color-dark-border;

  /* Estiliza a marca ou logo da aplicação */
  .navbar-brand {
    font-family: theme.$font-headings;
    font-size: 1.5rem;
    color: theme.$color-light-text;
    font-weight: 700;
  }

  /* Estiliza os links de navegação */
  .nav-link {
    font-family: theme.$font-body;
    font-weight: 500;
    color: theme.$color-muted-text;
    transition: color 0.2s ease;

    &:hover {
      color: theme.$color-light-text;
    }

    /* Destaca o link da página ativa */
    &.active {
      color: theme.$color-light-text;
      border-bottom: 2px solid theme.$color-gryffindor;
    }
  }

  /* Estiliza o botão "hamburguer" para menu mobile */
  .navbar-toggler {
    border-color: rgba(theme.$color-light-text, 0.3);
  }
  .navbar-toggler-icon {
    // Define o ícone SVG claro
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(240, 240, 240, 0.7)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
  }
}