// Importa variáveis globais e módulo de cor
@use '../../styles.scss' as theme;
@use "sass:color";

/* Aplica estilos base consistentes com outros cards */

// Estilo container principal do card
.card {
  background-color: theme.$color-dark-card;
  border: 1px solid theme.$color-dark-border;
  border-radius: 8px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  overflow: hidden;

  &:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 15px rgba(theme.$color-slytherin, 0.3);
  }

  // Corpo do card
  .card-body {
    display: flex;
    flex-direction: column;
    flex-grow: 1;

    .card-title {
      color: theme.$color-light-text;
      font-family: theme.$font-headings;
      font-weight: 700;
      margin-bottom: 0.75rem; // Espaço abaixo do título
    }

    // Container dos detalhes da poção
    .potion-details {
      // Estilo para cada item de detalhe (Efeito, Características, etc.)
      .detail-item {
        color: theme.$color-muted-text; // Cor secundária
        font-size: 0.9rem; // Tamanho consistente
        line-height: 1.5; // Espaçamento entre linhas
        margin-bottom: 0.3rem; // Espaço entre detalhes

        strong {
          color: theme.$color-light-text; // Cor principal para o label
          font-weight: 500; // Peso médio
        }
      }
    }
  }
}

// Imagem no topo do card
.card-img-top {
  height: 300px; // Altura
  object-fit: cover;
  background-color: theme.$color-dark-bg;
}

// Container do placeholder
.potion-image-placeholder {
  height: 300px; // Mesma altura da imagem
  background-color: color.adjust(theme.$color-dark-bg, $lightness: 3%);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-bottom: 1px solid theme.$color-dark-border;
}

// Ícone SVG dentro do placeholder
.placeholder-icon {
  width: 50%; // Ajuste o tamanho do ícone
  max-width: 200px;
  height: auto;
  opacity: 0.1;
  filter: invert(1); // Branco no tema escuro
}