<div class="container">

  <h1 class="mb-4">Personagens</h1>

  <div class="mb-4">
    <input 
      type="text" 
      class="form-control form-control-lg"
      placeholder="Buscar por nome (ex: 'Malfoy' ou 'Luna')..."
      [formControl]="searchControl">
  </div>

  <div *ngIf="isLoading" class="text-center mt-5">...</div>
  <div *ngIf="error && !isLoading" class="alert alert-danger mt-4">...</div>

  <div *ngIf="!isLoading && !error">

    <div *ngIf="!isSearching">
      <h3 class="mb-3">Personagens Principais</h3>
      <div *ngIf="initialCharacters.length === 0" class="alert alert-warning">...</div>
      <div class="row">
        <div *ngFor="let char of initialCharacters" class="col-12 col-md-6 col-lg-4 mb-4">
          
          <app-character-card [char]="char"></app-character-card>

        </div>
      </div>
    </div>

    <div *ngIf="isSearching">
      <h3 class="mb-3">Resultados da Busca para: "{{ searchControl.value }}"</h3>
      <div *ngIf="searchedCharacters.length === 0" class="alert alert-info">...</div>
      <div class="row">
        <div *ngFor="let char of searchedCharacters" class="col-12 col-md-6 col-lg-4 mb-4">
          
          <app-character-card [char]="char"></app-character-card>

        </div>
      </div>
    </div>

  </div> </div>