<div class="container">
  <div class="page-title-container mb-4">
    <img src="icons/title-symbol.svg" alt="" class="title-icon left-icon" />
    <h1 class="page-title">Personagens</h1>
    <img src="icons/title-symbol.svg" alt="" class="title-icon right-icon" />
  </div>

  <div class="mb-4">
    <input
      type="text"
      class="form-control form-control-lg"
      placeholder="Buscar por nome (ex: 'Malfoy' ou 'Luna')..."
      [formControl]="searchControl"
    />
  </div>

  <div *ngIf="isLoading" class="text-center mt-5">...</div>
  <div *ngIf="error && !isLoading" class="alert alert-danger mt-4">...</div>

  <div *ngIf="!isLoading && !error">
    <div *ngIf="!isSearching">
      <div class="page-title-container mb-3">
        <img src="icons/subtitle-symbol.svg" alt="" class="subtitle-icon left-icon" />
        <h2 class="page-title" style="font-size: 1.4rem">Personagens de Destaque</h2>
        <img src="icons/subtitle-symbol.svg" alt="" class="subtitle-icon right-icon" />
      </div>

      <div *ngIf="initialCharacters.length === 0" class="alert alert-warning">...</div>
      <div class="row">
        <div *ngFor="let char of initialCharacters" class="col-12 col-md-6 col-lg-3 mb-4">
          <app-character-card [char]="char"></app-character-card>
        </div>
      </div>
    </div>

    <div *ngIf="isSearching">
      <h3 class="mb-3" style="font-size: 1.2rem">Resultados da Busca para: "{{ searchControl.value }}"</h3>
      <div *ngIf="searchedCharacters.length === 0" class="alert alert-info">...</div>
      <div class="row">
        <div *ngFor="let char of searchedCharacters" class="col-12 col-md-6 col-lg-3 mb-4">
          <app-character-card [char]="char"></app-character-card>
        </div>
      </div>
    </div>
  </div>
</div>
