<div class="container">
  <div class="page-title-container mb-4">
    <img src="icons/title-symbol.svg" alt="" class="title-icon left-icon" />
    <h1 class="page-title">Poções</h1>
    <img src="icons/title-symbol.svg" alt="" class="title-icon right-icon" />
  </div>

  <div class="mb-4">
    <input
      type="text"
      class="form-control form-control-lg"
      placeholder="Buscar poção por nome (ex: 'Polyjuice' ou 'Felix')..."
      [formControl]="searchControl"
    />
  </div>

  <div *ngIf="isLoadingInitial" class="text-center mt-5 mb-5">
    <div class="spinner-border text-primary" role="status" style="width: 3rem; height: 3rem">
      <span class="visually-hidden">Carregando...</span>
    </div>
    <p class="mt-2">Carregando Poções...</p>
  </div>

  <div *ngIf="error && !isLoadingInitial && !isLoadingMore" class="alert alert-warning mt-4">
    {{ error }}
  </div>

  <div *ngIf="!(error && !isSearching && popularPotions.length === 0 && allPotions.length === 0)">
    <div *ngIf="!isSearching && popularPotions.length > 0" class="mb-5">
      <div class="page-title-container mb-3">
        <img src="icons/subtitle-symbol.svg" alt="" class="subtitle-icon left-icon" />
        <h2 class="page-title" style="font-size: 1.8rem">Poções Populares</h2>
        <img src="icons/subtitle-symbol.svg" alt="" class="subtitle-icon right-icon" />
      </div>
      <div class="row">
        <div *ngFor="let potion of popularPotions" class="col-12 col-md-6 col-lg-4 mb-4">
          <app-potion-card [potion]="potion"></app-potion-card>
        </div>
      </div>
      <hr class="my-4" style="border-color: rgba(255, 255, 255, 0.1)" />
    </div>

    <div>
      <h3 *ngIf="isSearching" class="mb-3 text-center" style="font-size: 1.2rem">
        Resultados da Busca para: "{{ searchControl.value }}"
      </h3>

      <h2
        *ngIf="!isSearching || (isSearching && allPotions.length > 0)"
        class="mb-3 text-center"
        style="font-size: 1.8rem"
      >
        Todas as Poções
      </h2>

      <div class="row">
        <div *ngFor="let potion of allPotions" class="col-12 col-md-6 col-lg-4 col-xl-3 mb-4">
          <app-potion-card [potion]="potion"></app-potion-card>
        </div>
      </div>

      <div *ngIf="isLoadingMore && !isSearching" class="text-center mt-4 mb-5">
        <div class="spinner-border text-secondary spinner-border-sm" role="status">
          <span class="visually-hidden">Carregando mais...</span>
        </div>
        <p class="mt-1 text-muted small">Carregando mais poções...</p>
      </div>
    </div>
  </div>
</div>
